body {
    background: linear-gradient(#011623, #55757B);
}

.host-section {
    margin: 110px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300; 
    font-size: 20px;
}

.host-section img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 4px solid #ffffff;
    box-shadow: 2px 2px 4px #0000003a;
}

.host-section p {
    color: #cccccc;
}

.host-section h1 {
    margin-top: -15px;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #0000001d;
}

.links {
    display: flex;
    justify-content: center;
}

.icon-container {
    display: flex;
    flex-wrap: wrap; /* allows wrapping */
    gap: 50px;
    background-color: #f0f0f0;
    border-radius: 80px;
    padding: 15px 60px;
    box-shadow: 2px 2px 4px #0000003a;
    align-items: center;
    justify-content: center;
}

.icon-container a,
.icon-container .rss {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #274069;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    transition: transform 0.3s;
}

.icon-container a:hover,
.icon-container .rss:hover {
    transform: scale(1.05);
}

.icon-container .logo {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    object-fit: contain;
}

.intro-box {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 30px 20px;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
}

@media (max-width: 768px) {
    .host-section {
        margin-top: 100px;
        font-size: 18px;
    }

    .host-section img {
        width: 120px;
        height: 120px;
    }

    .host-section h1 {
        font-size: 24px;
    }

    .intro-box {
        font-size: 17px;
    }

    .icon-container {
        gap: 30px;
        padding: 15px 30px;
        border-radius: 40px;
    }

    .icon-container a,
    .icon-container .rss {
        font-size: 14px;
    }

    .icon-container .logo {
        width: 40px;
        height: 40px;
    }
}