body {
    background: linear-gradient(#011623, #55757B);
}

article {
    max-width: 900px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    padding: 0 30px;
}

article h1 {
    font-size: 36px;
    margin: 80px 0px 20px 0px;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

article .tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    padding: 6px 12px;
    margin: 15px 0;
    border-radius: 50px;
    font-size: 16px;
    color: #CCCCCC;
    font-weight: 300;
    cursor: default;
}

article p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #E6E6E6;
    text-align: justify;
    font-weight: 300;
    line-height: 1.6;
}

.links-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.links-row a {
    color: #CCCCCC;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 17px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.links-row a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.links-row a:hover {
    transform: scale(1.04);
    color: #FFFFFF;
}

.links-row a:hover img {
    transform: scale(1.06);
}

@media (max-width: 1024px) {
    article h1 {
        font-size: 50px;
        margin: 140px 0px 30px 0px;
    }

    article .tags {
        font-size: 30px;
        gap: 4px;
        margin: 0px 0px 25px 0px;
    }

    article p {
        font-size: 25px;
    }

    .links-row a {
        font-size: 30px;
    }

    .links-row a img {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 600px) {
    article {
        margin: 40px auto;
        padding: 0 15px;
    }

    article h1 {
        font-size: 30px;
        margin: 90px 0px 25px 0px;
    }

    article .tags {
        font-size: 20px;
        gap: 4px;
        margin: 10px 0px 25px 0px;
    }

    article p {
        font-size: 20px;
        margin-bottom: 20px;
        padding: 20px 20px 30px 20px;
    }

    .links-row {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .links-row a {
        font-size: 25px;
    }

    .links-row a img {
        width: 27px;
        height: 27px;
    }

    iframe {
        width: 90%;
        margin: 10px auto;
        display: block; 
    }
}