body {
    background: linear-gradient(#011623, #55757B);
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 45px 0px;
    width: 100%;
    box-sizing: border-box;
}

.search-heading .line1 {
    font-size: 25px;
    text-align: center;
    color: #cccccc;
    font-weight: 300;
    margin-bottom: -40px;
}

.search-heading .line2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

/*center section*/
.episodes-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 10px 0;
    width: 800px;
}

.episode-card {
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease-in-out;
}

.episode-card:hover {
    transform: translateY(-5px);
}

.episode-cover {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

.episode-card h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.episode-card h2 {
    margin: 0.5rem 0 1rem;
    font-size: 1.2rem;
}

.episode-card h2 a {
    text-decoration: none;
    color: inherit;
}