<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/default-styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/' | append: page.css | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <button class="menu-toggle" aria-label="Toggle Menu">☰</button>
        <ul class="navbar">
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/episodes' | relative_url }}">Episodes</a></li>
          <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      © 2024 Iman Mossavat | All Rights Reserved
    </footer>
  </div>
</body>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.querySelector(".menu-toggle");
    const navbar = document.querySelector(".navbar");

    menuToggle.addEventListener("click", () => {
      navbar.classList.toggle("active");
    });
  });
</script>
</html>