---
layout: default
title: {{ page.title }} 
css: each-episode-styles.css
---

<article>
  <h3>Episode {{ page.episode_number }}</h3>
  <h1>{{ page.title }}</h1>

  {% if page.tags %}
    <div class="tags">
      {% for tag in page.tags %}
        {% if tag.tag %}
          <span class="tag">{{ tag.tag }}</span>
        {% else %}
          <span class="tag">{{ tag }}</span>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <iframe src="{{ page.spotify }}" width="90%" height="152" frameborder="0" allow="encrypted-media"></iframe>
  <p>{{ page.description }}</p>

  <ul>
    {% for link in page.links %}
      <li><a href="{{ link.url }}" target="_blank">{{ link.label }}</a></li>
    {% endfor %}
  </ul>
</article>