---
layout: default
title: {{ page.title }} 
css: each-episode-styles.css
---

<article>
  <h1>Episode {{ page.episode_number }}: {{ page.title }}</h1>

  {% if page.tags %}
    <div class="tags">
      {% for tag in page.tags %}
        {% if tag.tag %}
          <a class="tag" href="{{ '/episodes' | relative_url }}?tag={{ tag.tag | url_encode }}">{{ tag.tag }}</a>
        {% else %}
          <a class="tag" href="{{ '/episodes' | relative_url }}?tag={{ tag | url_encode }}">{{ tag }}</a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <iframe src="{{ page.spotify }}" width="100%" height="152" frameborder="0" allow="encrypted-media"></iframe>
  <p>{{ page.description }}</p>

  {% if page.youtube %}
    <div class="youtube-embed">
      <iframe src="{{ page.youtube }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  {% endif %}

  <div class="links-row">
    {% for link in page.links %}
      <a href="{{ link.url }}" target="_blank">
          <img src="{{ '/assets/images/link-solid-full.svg' | relative_url }}" alt="link icon">
        {{ link.label }}
      </a>
    {% endfor %}
  </div>

</article>